/* Coolors Exported Palette - https://coolors.co/fce3f7-576066-f9c784-7803a3-f1cdff */

/* CSS HEX */
--pale-purple-pantone: #fce3f7ff;
--black-coral: #576066ff;
--gold-crayola: #f9c784ff;
--violet-ryb: #7803a3ff;
--thistle: #f1cdffff;

/* CSS HSL */
--pale-purple-pantone: hsla(312, 81%, 94%, 1);
--black-coral: hsla(204, 8%, 37%, 1);
--gold-crayola: hsla(34, 91%, 75%, 1);
--violet-ryb: hsla(284, 96%, 33%, 1);
--thistle: hsla(283, 100%, 90%, 1);

/* SCSS HEX */
$pale-purple-pantone: #fce3f7ff;
$black-coral: #576066ff;
$gold-crayola: #f9c784ff;
$violet-ryb: #7803a3ff;
$thistle: #f1cdffff;

/* SCSS HSL */
$pale-purple-pantone: hsla(312, 81%, 94%, 1);
$black-coral: hsla(204, 8%, 37%, 1);
$gold-crayola: hsla(34, 91%, 75%, 1);
$violet-ryb: hsla(284, 96%, 33%, 1);
$thistle: hsla(283, 100%, 90%, 1);

/* SCSS RGB */
$pale-purple-pantone: rgba(252, 227, 247, 1);
$black-coral: rgba(87, 96, 102, 1);
$gold-crayola: rgba(249, 199, 132, 1);
$violet-ryb: rgba(120, 3, 163, 1);
$thistle: rgba(241, 205, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);
$gradient-right: linear-gradient(90deg, #fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);
$gradient-bottom: linear-gradient(180deg, #fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);
$gradient-left: linear-gradient(270deg, #fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);
$gradient-top-right: linear-gradient(45deg, #fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);
$gradient-bottom-right: linear-gradient(135deg, #fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);
$gradient-top-left: linear-gradient(225deg, #fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);
$gradient-bottom-left: linear-gradient(315deg, #fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);
$gradient-radial: radial-gradient(#fce3f7ff, #576066ff, #f9c784ff, #7803a3ff, #f1cdffff);