---
---

$pale-purple-pantone: #fce3f7ff;
$black-coral: #576066ff;
$gold-crayola: #f9c784ff;
$violet-ryb: #7803a3ff;
$thistle: #f1cdffff;


h1, h2, p, li, a, label {
	font-family: sans-serif;
}

.nav-el {
	margin: 4px;
	padding: 4px;
	background-color: white;
	border-radius: 10px;
}

.top-bar {
	display: flex;
	background-color: $pale-purple-pantone;
}

.body {
	max-width: 100%;
	margin: auto;
}

.content {
	display: block;
	max-width: 50%;
	margin: auto;
}

.event-form {
	border: 1px;
	border-style: solid;
	padding: 1%;
	border-radius: 10px;
}

.homepage-section {
	height: 80vh;
	background-color: $gold-crayola;
	display: flex;
	padding: 1%;
}

.homepage-section-content {
	max-width: 50%;
	margin: auto;
}

.homepage-section-text-element {
	margin: 10% auto;
	text-align: center;
}

.homepage-section-action-element {
	display: flex;
	margin: auto;
}

.alternate {
	background-color: $pale-purple-pantone;
}

.left {
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.action-element {
	text-align: center;
	display: grid;
	width: 200px;
	transition: transform .2s;
}

.action-element a {
	text-decoration: none;
}

.action-element:hover {
	transform: scale(1.1);
}

.action-icon {
	width: 50%;
	padding: 10%;
}

.home-icon {
	width: 150px;
	transition: transform .2s;
}

.home-icon:hover {
	transform: scale(1.1);
}

.hamburger-menu {
	visibility: hidden;
}

@media screen and (max-width: 800px) {
	.content {
		max-width: 90%;
	}

	.homepage-section {
		max-width: 100%;
	}

	.hamburger-menu {
		visibility: visible;
	}

	.nav-items {
		display: none;
	}

	.top-bar {
		position: sticky;
        position: -webkit-sticky;
		top: 0;
		overflow: hidden;
	}

	.homepage-section-action-element {
		flex-direction: column;
	}

}





#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $violet-ryb;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: $pale-purple-pantone;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: right;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: $thistle;
}

