---
---

h1, h2, p, li, a, label {
	font-family: sans-serif;
}

.nav-el {
	margin: 4px;
	padding: 4px;
	background-color: white;
	border-radius: 10px;
}

.body {
	max-width: 100%;
	margin: auto;
}

.content {
	display: block;
	max-width: 50%;
	margin: auto;
}

.event-form {
	border: 1px;
	border-style: solid;
	padding: 1%;
	border-radius: 10px;
}

.homepage-section {
	background-color: #fce3f7;
	max-width: 80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 1%;
	border-radius: 10px;
}

.homepage-section-text-element {
	max-width: 60%;
}

.homepage-section-action-element {
	display: flex;
	margin: auto;
}

.alternate {
	background-color: #f5e3fc;
}

.left {
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.action-element {
	margin: 4px;
	padding: 4px;
	border: 1px;
	border-style: solid;
	text-align: center;
	background-color: white;
	border-radius: 10px;
}

.action-element:hover {
	border-color: #7803a3;	
}

@media screen and (max-width: 800px) {
	.content {
		max-width: 100%;
		margin: 5%;
	}

	.homepage-section {
		max-width: 100%;
	}
}