<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <header>
    <figure>
      <img src="assets/images/banner.png" style="max-width:100%;">
    </figure>
  </header>
  <body style="width: 35%; margin: auto;">
    <section>
      {{ content }}
    </section>
    <footer>
      <hr>
      &copy; Apuliacore 2022
    </footer>
  </body>
</html>
