<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <header>
    <div style="display: flex; background-color: #fce3f7;">
      <div style="margin-right: auto;">
        <a href="/"><img src="assets/images/logo_transp_black.png" class="home-icon"></a>
      </div>
      <div style="">
        <ol style="display: flex; list-style-type: none;">
          <li class="action-element"><a href="/">Home</a></li>
          <li class="action-element"><a href="/manifesto.html">Manifesto</a></li>
          <li class="action-element"><a href="/proponi_evento.html">Proponi</a></li>
        </ol>
      </div>
  </header>
  <body class=body>
    {{ content }}
    <footer>
      <p style="text-align: center;">&copy; Apuliacore 2022</p>
    </footer>
  </body>
</html>
