<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <header>
  </header>
  <body class=body>
    <div class="top-bar">
      <div style="margin-right: auto; margin-left: 10px; margin-top: 5px;">
        <a href="/"><img src="assets/images/logo_transp_black.png" class="home-icon"></a>
      </div>
      <div class="nav-items">
        <ol style="display: flex; list-style-type: none;">
          <li class="nav-el"><a href="/">Home</a></li>
          <li class="nav-el"><a href="/manifesto.html">Manifesto</a></li>
          <li class="nav-el"><a href="https://t.me/apuliacore_chatbot">Proponi</a></li>
          <li class="nav-el"><a href="/contatti.html">Contatti</a></li>
          <li class="nav-el"><a href="/dona.html">Dona 🌼</a></li>
        </ol>
      </div>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <ul class="menu__box">
          <li><a class="menu__item" href="/">Home</a></li>
          <li><a class="menu__item" href="/manifesto.html">Manifesto</a></li>
          <li><a class="menu__item" href="https://t.me/apuliacore_chatbot">Proponi</a></li>
          <li><a class="menu__item" href="/contatti.html">Contatti</a></li>
          <li><a class="menu__item" href="/dona.html">Dona 🌼</a></li>
        </ul>
      </div>
    </div>
    {{ content }}
  <footer>
    <p style="text-align: center;">&copy; Apuliacore 2022</p>
  </footer>
  </body>
</html>
